* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width:1080) {
    #joystick {
        display: none
    }
}

@media screen and (max-width:1080){
    #joystick {
        transform: scale(1.5);
        position: absolute;
    }
}